imports:
- path: vm-series-two-tier.py

outputs:
- name: Web-Server-PublicIP-Address
  value: $(ref.vm-series-two-tier.Web-Server-PublicIP-Address)
- name: PANWFirewall-PublicIP-Address
  value: $(ref.vm-series-two-tier.PANFirewall-PublicIP-Address)

resources:
- name: vm-series-two-tier
  type: vm-series-two-tier.py