#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# Sphinx documentation
docs/_build/

# VSCode files
**/.vscode/*

# macOS files
.DS_Store

# Vagrant
.vagrant/

# Ansible
*.retry
venv/